.Weather {
  border: 3px outset grey;
  border-radius: 10px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.Weather .row {
  margin: 15px;
}

.Weather .btn {
  margin: 5px;
}
.Weather h1 {
  font-size: 32px;
  font-weight: 600;
}

.Weather ul {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 0;
  padding-left: 0;
}

.Weather li {
  line-height: 1.75;
}

.Weather .temp {
  font-size: 36px;
  font-weight: 500;
}

.Weather .unit {
  position: relative;
  top: -13px;
}

.Weather ul .conditions {
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
}

.Weather .capitalize {
  text-transform: capitalize;
}
